.Board {
    /* height: 200px;
    width: 400px; */
    /* overflow: auto; */
    text-align: left;
}

.boardGrid {
    display: inline-block;
    /* float: left; */
}

.tileHolder {
    height: 20px;
    width: 20px;
    border: 1px dotted lightgray;
    background-color: white;
    margin-left: 1px;
    float: right;
}